input#dropdown_formtype {
  width: 45%;
  color: #1e466a;
  border-radius: 6px;
  border: 3px solid #1e466a;
  font-size: large;
  text-align: center;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

input#dropdown_formnumber {
  width: 45%;
  color: #1e466a;
  border-radius: 6px;
  border: 3px solid #1e466a;
  font-size: large;
  text-align: center;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

label.labels {
  display: block;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
  color: black;
}

.panel-default>.panel-heading {
  color: #fafafa;
  border-color: #333;
  background-image: linear-gradient(90deg, #0b2e50, rgba(0, 84, 150, 0.68));
}

div#alertdivs.alert.alert-danger.alert-dismissable {
    padding: 15px;
    margin-bottom: 20px;
    padding-right: 30px;
    margin-top: 8px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    width: 100%;
    margin: auto; 
    display: list-item;
    margin-top: 8px;
}

span.tag.label.label-info {
    background-color: #2d5c83;
}


html .bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 10px;
    margin: 0;
    width: 1000px;
    max-width: inherit;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #46748e;
  background-color: rgba(168, 201, 250, 0.47);
  border-radius: 4px;
}

button#download_example_spreadsheet.btn.btn-default {
  display: inline-block;
  margin-bottom: 0;
  padding: initial;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
}

input#forms {
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: text;
    background: #869caf6e;
    border: 3px solid #1e466a;
    border-radius: 6px;
    color: #1e466a;
}


button#download_example.btn.btn-default {
  display: inline-block;
  margin-bottom: 0;
  padding: 0px 2px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
}

label.btn.btn-primary.toggle-on {
  color: #fff;
  background-color: #0d3154;
  border-color: #0d3154;
}

label.btn.btn-success.active.toggle-off {
  color: #fff;
  background-color: #3b6e97;
  border-color: #3b6e97;
}

.btn-success {
   border-color: #3b6e97;
}

.btn-success:hover {
    border-color: #28d67b;
}

.btn-primary:hover {
    border-color: #28d67b;
}
.h1, h1 {
  font-size: 40px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: #1d466b;
}

#center-column {
  padding-bottom: 0;
}

#center-column .row {
  border-bottom: 1px solid #ddd;
}

#center-column .row:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.required.alert {
  padding: 5px;
  margin-left: 5px;
}

#required-to-submit {
  padding: 7px;
  margin-left: 10px;
}

.form-group.row {
  padding-bottom: 10px;
}

#spreadsheet-upload {
  height: 60px;
  border: 2px solid #fff;
  padding: 20px;
  border: 2px dashed #46748e;
  text-align: center;
}

#spreadsheet-upload.drag {
  background-color: #d6e6fd;
}

#file-upload {
  height: 60px;
  border: 2px solid #fff;
  padding: 20px;
  border: 2px dashed #46748e;
  text-align: center;
}

#file-upload.drag {
  background-color: #d6e6fd;
}

.concentration-input {
  margin-top: 2px;
}

.concentration-input>span {
  padding-right: 10px;
  width: 60%;
  display: inline-block;
}

.concentration-input>input {
  width: 40%;
  display: inline-block;;
}

.match-height {
  height: 60px;
}

ol>li {
  margin-top: 10px;
}
  
#folder-name {
  background-color: white;
}