#center-column {
  padding-bottom: 0;
}

#center-column .row {
  border-bottom: 1px solid #ddd;
}

#center-column .row:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.form-group.row {
  padding-bottom: 10px;
}

#file-upload {
  height: 30px;
  border: 2px solid #fff;
  padding: 5px;
  border: 2px dashed #ddd;
}

#file-upload.drag {
  background-color: #ffdddd;
}
